<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <!-- Create an application using dev.twitter.com and create an app to get this values-->
    <add key="AccessToken" value=""/>
    <add key="AccessTokenSecret" value=""/>
    <add key="ConsumerKey" value=""/>
    <add key="ConsumerSecret" value=""/>
  </appSettings>

</configuration>
