@{
    ViewBag.Title = "Sobre a ação";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    <h4>Contribuiram para essa ação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vinícius Souza <br />
            @@vbs_br
        </dt>

        <dd>
            Vinícius foi responsável por desenvolver a parte de backend da solução utilizando o Microsoft Azure, no projeto foi utilizado:
            <ul>
                <li>Web Sites;</li>
                <li>Mobile Services (C# Backend);</li>
                <li>Notification Hub;</li>
            </ul>
        </dd>

        <dt>
            Marlon Luz<br />
            @@marlonluz
        </dt>

        <dd>
            Marlon foi responsável por desenvolver os aplicativos de Windows Phone e Android, no projeto foi utilizado o Xamarin para desenvolver tudo utilizando C#
        </dd>

        <dt>
            Thiago Bessa<br />
            @@thiagobessa
        </dt>

        <dd>
            Thiago foi responsável por desenvolver toda a parte de IoT (Internet das Coisas) utilizando o NetDuino.
        </dd>
    </dl>
</div>